<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <%- include('./console/partials/styles'); %>
</head>
<body>
  <div class="container-scroller">
    <%- include('./console/partials/header'); %>
    <div class="container-fluid page-body-wrapper">
      <%- include('./console/partials/config'); %>
      <%- include('./console/partials/sidebar'); %>

    </div>
  </div>
  <%- include('./console/partials/scripts'); %>
</body>
</html>